$color_1: #2c3e50;
$color_2: #42b983;
$color_3: #222;
$color_4: #fff;
$font-family_1: Avenir, Helvetica, Arial, sans-serif;
$background-black: #12002b;
$background-primary: #00bc77;
$background-white: white;
$border-primary: #00bc77;
